@{
    ViewData["Title"] = "A project by Nicholas Bly";
}
<h1>@ViewData["Title"]</h1>

<div class="About-content">

    <section>
        <br />
        <h3>ASP .NET Core MVC</h3>
        <p>
            This project was built from studying ASP .NET Core MVC and putting it into practice.
            With experience in .NET Core, HTML, CSS, and JavaScript, I have put together this project
            as a comprehensive task management tool to implement the following:<br /><br />
            MVC architectural patterns<br />
            Dependency injection<br />
            SOLID principles<br />
            Entity framework basics<br />
            Model validation<br />
            Service layer implementation<br /><br />
            If you are reading this, thanks for checking out this project!
        </p>
    </section>
</div>
